/* main body */
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


body {
    background: linear-gradient(90deg, rgba(2, 0, 43, 1) 0%, rgba(9, 9, 121, 1) 46%, rgba(0, 116, 255, 1) 100%);
}


.main {
    display: flex;
    flex-direction: column;
    row-gap: 95px;
    padding: 0 130px;
}

/* main body */




/* Navbar */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    color: white;
}

#links {
    display: flex;
    column-gap: 25px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.navbar .bi-list {
    display: none;
}

.bi-github {
    font-size: 20px;
}

.ref {
    display: flex;
    column-gap: 15px;
    align-items: center;
}

/* Navbar */



/* Body */

h1 {
    color: white;
}

h1:hover {
    text-decoration: underline;
}

p {
    font-size: 18px;
    word-spacing: 5px;
}

/* About Section */

.intro {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    color: white;
}


#about {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    color: white;
}

/* About Section */




.line {
    width: 50px;
    border: 5px solid #4413b8;
    border-radius: 4px;
}




/* Project Section */
#project-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 15px;
    width: 66vw;
    padding: 10px;
    color: white;
}


.project-link {
    display: flex;
    flex-wrap: wrap;
    width: 66vw;
    gap: 35px;
    padding: 10px 0;
}

.project {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    width: 20vw;
    border-radius: 5px;
    padding-bottom: 10px;
    background: linear-gradient(90deg, rgb(42 42 153) 46%, rgb(120 148 183) 100%);
}

.images {
    width: 100%;
    border-radius: 5px;
}

.pdetails {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 0 10px;
}

.pdetails a {
    text-align: right;
}

/* Project Section */



/* Technology section */
#tech-box {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 10px 0;
    color: white;
}

.technology {
    display: flex;
    justify-content: space-around;
}

.boxes {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 10px;

}

.boxes img {
    height: 50px;
}

#tech-box img {
    height: 50px;
}


.editor-container,
.deployment-container {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.editor-container span,
.deployment-container span {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

/* Technology section */




/* Skill Section */

#skill-box {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 10px 0;
    color: white;
}

.skills-cont {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    width: 70vw;
    padding: 10px;
    color: white;
}

.box {
    display: flex;
    column-gap: 10px;
    padding: 10px;
    width: 20vw;
    background: linear-gradient(90deg, rgb(120 148 183) 46%, rgb(42 42 153) 100%);
    border: transparent;
}

.text {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.box img {
    height: 50px;
}


/* Skill Section */



/* Footer Section */
#footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0;
    color: white;
}

.contact {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.contact p {
    transition: transform 0.3s ease 0s;
}

.contact p:hover {
    transform: translateX(10px);
}

/* Footer Section */


/* Animation */
@keyframes SlideInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-50px);
    transition: all 0.5s ease-in-out;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-slide {
    animation: slideUp 0.5s ease forwards;
}


.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* Animation */





/* For responsiveness */
@media screen and (max-width:768px) {

    .main {
        padding: 0 20px;
        row-gap: 100px;
    }

    h1 {
        font-size: 20px;
        line-height: 1.0;
        font-weight: 800;

    }

    #links {
        order: 3;
    }

    .ref {
        column-gap: 10px;
        order: 2;
    }

    #links a {
        display: none;
    }

    #links .bi {
        display: block;
    }

    .navbar {
        column-gap: 20px;
    }

    .navbar .bi-list {
        display: block;
        font-size: 30px;
        position: relative;
        padding-bottom: 18px;
        cursor: pointer;
    }

    #links.responsive {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        padding-bottom: 20px;
        text-align: center;
        color: white;
        position: absolute;
        top: 60px;
        width: 100%;
    }

    #links.responsive a {
        display: block;
        padding: 10px;
    }

    .ref {
        column-gap: 10px;
    }

    p {
        font-size: 20px;
        line-height: 2.0;

    }

    .intro {
        flex-direction: column;
        width: 90%;
        margin: auto;
        row-gap: 3px;
    }

    #project-box {
        width: 93%;
        margin: auto;

    }

    .project-link {
        width: 100%;
        margin: auto;
    }

    #tech-box {
        width: 90%;
        margin: auto;
    }

    .technology {
        flex-direction: column;
        row-gap: 10px;
    }

    .editor-container,
    .deployment-container {
        flex-direction: column;
    }

    .project {
        width: 100%;
        margin: auto;
    }

    .skills-cont {
        flex-direction: column;
        justify-content: center;
    }

    .box {
        width: 100%;
    }

    .boxes {
        width: 100%;
        margin: auto;
        padding: 0 10px;
        background-color: rgb(159, 156, 194);
    }

    #footer {
        flex-direction: column;
        row-gap: 20px;
        align-items: flex-start;
    }

    #about {
        row-gap: 15px;
    }
}
